.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 83% 9%;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    position: relative;
}

.about-container {
    margin-left: -70px;
    margin-right: 70p;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 25px;
    font-family: Arial, sans-serif;
    gap: 20px;
}

.disabled {
    color: gray;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.about-me {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    padding-bottom: 10px;
    margin-left: 30px;
}

.active-dark,
.active-light {
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    box-shadow: 0px 5px 5px #000000;
    flex-direction: column;
    padding: 0;
    scale: .7;
    z-index: 1001;
}

.active-light p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: -2px;
    padding: 0;
}

.active-dark p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 0;
    margin-top: 0px;
}

.active-dark {
    background-color: rgb(255, 255, 255);
    top: 55px;
    right: -5px;
    color: #000;
}

.active-dark i {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 0;
}

.active-light {
    background-color: rgb(0, 0, 0);
    top: 55px;
    left: -5px;
    color: #000;
}

.active-light i {
    font-size: 26px;
    color: #ffffff;
    margin-top: 15px;
    padding: 0;
}

.image-container {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    text-align: center;
    margin-top: 15px;
}

.about-me h2 {
    font-size: 22px;
    color: #007bff;
    margin-bottom: 5px;
}

.about-me p {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    text-align: justify;
}

.links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.links a i {
    color: #333;
    font-size: 22px;
    margin-right: 10px;
    margin-left: 20px;
}

.links a:hover {
    color: #0056b3;
}

.about-calculator {
    width: 75%;
    background: #ccc;
    margin-right: 30px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.about-calculator h2 {
    font-size: 22px;
    color: #007bff;
    text-decoration: none;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-top: 15px;
}

.about-calculator p {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
}

.about-calculator ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about-calculator li {
    font-size: 15px;
    padding: 8px;
    background: #e9ecef;
    border-radius: 5px;
    color: #333;
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.about-calculator li:nth-child(1),
.about-calculator li:nth-child(4),
.about-calculator li:nth-child(5),
.about-calculator li:nth-child(8),
.about-calculator li:nth-child(9) {
    background-color: #333;
    color: white;
}

.about-calculator li:nth-child(2),
.about-calculator li:nth-child(3),
.about-calculator li:nth-child(6),
.about-calculator li:nth-child(7),
.about-calculator li:nth-child(10) {
    background-color: #fff;
}