.cal {
    width: auto;
    height: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.input-box {
    background-color: black;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.input-box input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    background-color: black;
    color: white;
    padding-left: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.digits {
    background-color: blue;
    width: auto;
    position: relative;
    height: auto;
    display: flex;
    padding-left: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    margin-right: 15px;
    margin-top: 20px;
}

.col1,
.col2,
.col3,
.col4 {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}

.col4 {
    margin-right: 0;
}

.col1 button,
.col2 button,
.col3 button,
.col4 button {
    border-radius: 12px;
    width: 100%;
    margin-bottom: 12px;
    height: 55px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.col1 button:hover,
.col2 button:hover,
.col3 button:hover,
.col4 button:hover {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    background-color: #5f5f5f;
}

.col3 .btneq {
    background-color: green;
}

.col3 .btneq:hover {
    background-color: rgb(99, 175, 0);
    box-shadow: 6px 6px 15px rgba(0, 255, 0, 0.5);
}

.col4 .btn-sy {
    background-color: orange;
}

.col4 .btn-sy:hover {
    background-color: rgb(179, 255, 0);
    box-shadow: 6px 6px 15px rgba(255, 170, 0, 0.5);
}

.col1 .btn-clear,
.col2 .btn-clear {
    background-color: red;
}

.col1 .btn-clear:hover,
.col2 .btn-clear:hover {
    background-color: rgb(200, 0, 0);
    box-shadow: 6px 6px 15px rgba(255, 0, 0, 0.5);
}
.scien{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.expand-btn {
    position: absolute;
    top: 46.5%;
    left: 57%;
    transform: rotateZ(90deg);
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.expand-btn:hover {
    background-color: rgb(216, 219, 21);
    transform: rotateZ(90deg) scale(1.1);
}

.col-btn {
    position: absolute;
    top: 40%;
    left: 53.5%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.col-btn:hover {
    transform: translateY(-5px);
    background-color: greenyellow;
}