.trig-container {
    width: 350px;
    padding-top: 10px;
    height: auto;
    background: #66ff00;
    border-radius: 8px;
    box-shadow: 20px 10px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    scale: .7;
    margin-top: -50px;
    z-index: 0;
}

h2 {
    font-size: 24px;
    color: rgb(255, 136, 0);
    text-decoration: underline;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.button-group button:hover {
    background-color: #0056b3;
}

.trig-info {
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trig-info h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 5px;
}

.trig-info ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
}

.trig-info li {
    font-size: 18px;
    background: #ff0000;
    color: #333;
    font-weight: 500;
    padding: 5px;
    margin: 5px 0;
    letter-spacing: 1.1px;
    border-radius: 3px;
}

.trig-info li:nth-child(odd) {
    background-color: #ccc;
}

.trig-info li:nth-child(even) {
    background-color: white;
}