#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 1.5rem;
  width:  auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 145, 0);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #00fbff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background: #08fe00;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

h1:hover::after {
  transform: scaleX(1);
}

